<div class="page-header">
  <%= link_to rooms_path, class: 'btn btn-primary' do %>
    Все комнаты
  <% end %>
  <%= link_to edit_room_path(@room), class: 'btn btn-primary', style: 'float: right' do %>
    Редактировать комнату
  <% end %>
  <div class="col-sm-6" style="text-align: right">
    <h1>Текущая комната</h1>
  </div>
</div>
<dl class="dl-horizontal">
  <dd><%= @room.name %></dd>
</dl>
<div id="videos"
     data-controller="vonage"
     data-vonage-api-key="<%= Rails.application.credentials.vonage_api_key %>"
     data-vonage-session-id="<%= @room.vonage_session_id %>"
     data-vonage-token="<%= @token %>"
     data-vonage-name="<%= current_user.name %>"
     >
</div>
