<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= render 'shared/notices' %>

    <div class="container mdk-drawer-body-content">
    <!-- <div class="container-fluid"> -->
      <%= yield %>
    </div>


    <div class="mdk-drawer mdk-drawer-content">
      <div class="mdk-drawer-inner">
        <%= render 'shared/sidebar' %>
      </div>
    </div>


    <%= render 'shared/footer' %>
  </body>
</html>
